@config "../../tailwind.config.mjs";
@import "tailwindcss";

*,
::before,
::after {
  box-sizing: border-box;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
.detect-screen {
  @apply bg-pink-400 sm:bg-pink-500 md:bg-pink-600 lg:bg-pink-700 xl:bg-pink-800 2xl:bg-pink-900;
}

.section {
  @apply py-16 flex flex-col justify-center;
}

.section-title {
  @apply font-bold text-2xl md:text-3xl mb-4;
}

.section-description {
  @apply font-medium text-sm lg:text-base text-text-muted mb-16;
}
